<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <form action="/auth/login" method="POST">
        <fieldset>
            <legend>Please enter your credentials</legend>
            <p>
                <label for="username">Email:</label>
                <input name="username" type="email">
                <a href="//auth/reset-password"><small>Forgot your password?</small></a>
            </p>
            <p>
                <label for="password">Password:</label>
                <input name="password" type="password">
            </p>
            <p>
                <button type="reset">Clear</button>
                <button type="submit">Login</button>
            </p>
        </fieldset>
    </form>
</body>

</html>